@import "common/typography.css";
@import "common/header.css";
@import "common/sticky-menu.css";
@import "common/footer.css";
@import "common/product_item.css";
@import "common/dots_slider.css";
@import "common/burger.css";
@import "layout.css";

.banner-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
}
.text_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-width: 587px;
    max-height: 290px;
    width: 100%;
    height: 100%;
}
.ad{
    position: relative;
    cursor: pointer;
}
.bg{
    position: absolute;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
    transform: rotate(-180deg);
    width: 100%;
    height: 100%;
}
.space-between{
    padding-top: 20px;
}
.bg_image{
    max-height: 586px;
    max-width: 586px;
}
/* Временно */
.product_type{
    padding: 0 30px;
}

.product_name{
    padding: 0 30px;
}
.product_price{
    padding: 20px 30px;
}
/* Временно */
.showcase{
    margin-top: 91px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selected{
    border:1px solid #188145 !important;
}
.best_offer__button{
    border: 1px solid #E0E0DD;
    border-radius: 100px;
    height: 40px;
    width: 120px;
    margin-right: 30px;
    cursor: pointer;
}
.best_offer_items{
    display: flex;
}
.promo{
    display: flex;
}
.best_offer_nav_button{
    cursor: pointer;
    max-width: 36px;
    max-height: 36px;
    height: 36px;
    width: 36px;
    background-color: #616161;
    border: 0;
    border-radius: 4px;
    margin-left: 30px;
}
.best_offer_main_wrapper{
    padding: 50px 0px 0px 0px;
}
.main_catalog_main_wrapper{
    padding: 50px 0px 0px 0px;
}
.gap-between{
    padding: 0px 0px 20px 0px;
}
.big_banner{
    max-width: 1857px;
    max-height: 198px;
}
.big_banner__img{
    width: 100%;
    height: 100%;
}
.small_banners{
    padding: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner_item{
    max-width: 588px;
    width: 100%;
}
.go_catalog_button_wrap{
    width: inherit;
    max-height: 54px;
    padding: 30px 0px;
}
.go_catalog{
    background-color: #27AE60;
    border: 0px;
    height: 54px;
    width: 100%;
    cursor: pointer;
}
.gap{
    padding-right: 10px;
}
.history_banner{
    margin: 60px 0px;
    background: #EAF8F0;
    height: 523px;
}
.history_banner_wrapper{
    width: 100%;
    height: 100%; 
}
.inspiration_main{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.inspiration_item{
    max-height: 386px;
    display: flex;
}
.inspiration_item_desc{
    padding: 54px 28px 24px 37px;
    max-width: 362px;
    background: #E9E4FF;
    display: flex;
    flex-direction: column;
}
.green{
    background: #D2FFE5;
}
.inspiration_nav_button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
.dots_wrapper{
    display: flex;
    justify-content: space-between;
}
.active{
    background-color: #27AE60;
}
.instagram_main{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}
.instagram_main_row{
    display: flex;
    width: max-content;
    width: 100%;
}

