#burger_toggle{
    opacity: 0;
    margin: 0;
    padding: 0;
}
.burger_icon{
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 25px 0px 25px 56px;
    /* background-image: url("/img/list.svg"); */
}
.burger_icon__span{
  z-index: 2;
}
.burger_products{
  display: flex;
}
.burger_products_header{
  margin-right: 234px;
}
.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    max-height: 728px;
    height: 100%;
    margin-top: 48px;
    z-index: 1;
    padding: 52px 0px 0px 138px;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
    transition-duration: .25s;
  }
  #burger_toggle:checked ~ .burger_icon > span {
    transform: rotate(45deg);
  }
  #burger_toggle:checked ~ .burger_icon > span::before {
    top: 0;
    transform: rotate(0);
  }
  #burger_toggle:checked ~ .burger_icon > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #burger_toggle:checked ~ .menu_box {
    visibility: visible;
    left: 0;
  }
  .burger_icon > span,
  .burger_icon > span::before,
  .burger_icon > span::after {
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #616161;
    transition-duration: .25s;
}
  .burger_icon > span::before {
    content: '';
    top: -8px;
  }
  .burger_icon > span::after {
    content: '';
    top: 8px;
  }