.product_item{
    background: #FFFFFF;
    border: 1px solid #E0E0DD;
    max-height: 560px;
    max-width: 360px;
    width: 100%;
    padding: 19px 19px 15px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_item_top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_icons_badge{
    position: relative;
}
.item_icons_badge:hover .item_icons_badge_desc{
    display: block;
}
.item_icons_badge_desc{
    position: absolute;
    /* top: calc(100% + 14px); */
    top: calc(100% + 14px);
    left: -13px;
    border: 1px solid #E0E0DD;
    box-sizing: border-box;
    height: 38px;
    width: 55px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    padding: 0px;
    display: block;
    pointer-events: none;
    transition: all 0.3s linear;
}
.item_icons_badge_desc__p{
    margin: 0px;
}
.item_icons_badge_desc::before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 12px 7px 12px 7px; */
    border-width: 5px 7px 12px 7px;
    border-color: transparent transparent #ffffff transparent;
    /* top: -23px; */
    top: -14px;
    left: 21px;
    z-index: 2;
}
.item_icons_badge_desc::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 12px 7px;
    border-color: transparent transparent #E0E0DD transparent;
    top: -25px;
    left: 21px;
    z-index: 1;
}
.product_item_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_icons{
    display: flex;
    justify-content: space-between;
}
.product_item_buy_icon{
    cursor: pointer;
    height: 100%;
    width: 54px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-out;
    background: url("/img/shoppingcartgreen.svg") no-repeat;
}
.product_item_buy_icon:hover{
    transition: 0.5s ease-in;
    background: url("/img/shoppingcartgreenhover.svg") no-repeat;
}
.product_item_height{
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.avilability{
    padding: 4px 0px 0px 0px;
}
.product_item_price{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.product_item_price_wrap{
    display: flex;
    padding: 10px 0px 0px 0px;
}
.rating{
    padding: 0px 10px 0px 0px;
}