.sticky-menu{
    position: fixed;
    width: 100vw;
    max-height: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid 
    #E0E0DD;
    background-color: #FFFFFF;
    z-index: 1;
}
.logo{
    cursor: pointer;
}
.sticky-menu-nav{
    width: max-content;
}
.sticky-menu_left{
    display: flex;
    align-items: center;
}
.logo_wrap{
    margin: 0px 0px 0px 25px;
    padding: 0px 71px 0px 0px;
}
.submenu{
    position: absolute;
    margin-top: 19px;
    border: 1px solid #E0E0DD;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: none;
    transition: 0.5s ease-in-out;
    max-width: 258px;
    max-height: 230px;
    background: #FFFFFF;
    padding: 30px 14px 15px 18px;
    width: 100%;
}
.submenu::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    height: 30px;
}
.arrowdown::before{
    padding-left: 10px;
    font-size: 12px;
    content: "\e90f";
}
.nav_item_head{
    display: inline-block;
    position: relative;
    margin: 26px 0px 25px 0px;
    padding: 0px 61px 0px 0px;
}
.title:hover{
    color: #219653;
}
.nav_items_list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.nav_item_content{
    list-style: none;
    /* line-height: 250%; */
    cursor: pointer;
    margin-bottom: 15px;
}
.nav_item_content:hover{
    color: #219653;
}
.nav_item_head:hover .submenu{
    display: flex;
    flex-direction: column;
}
.title{
    text-decoration: none;
    color: #333333;
}
.sticky-menu-func{
    display: flex;
    padding: 0px 63px 0px 0px;
}
.search{
    margin: 25px 0px 25px 0px;
    width: 30px;
    height: 30px;
    background: url("/img/search.svg");
    cursor: pointer;
    transition: 0.5s ease-out;
}
.search_img{
    cursor: pointer;
}
.scales{
    margin: 25px 0px 25px 28px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    background: url("/img/scales.svg");
    cursor: pointer;
    transition: 0.5s ease-out;
}
.search:hover{
    transition: 0.5s ease-in-out;
    background: url("/img/searchhover.svg");
}
.scales:hover{
    transition: 0.5s ease-in-out;
    background: url("/img/scaleshover.svg");
}
@media (max-width: 375px){
    .sticky-menu-nav{
        display: none;
    }
    .logo_wrap{
        padding: 0px;
    }
    .sticky-menu_left{
        flex-direction: row-reverse;
    }
    .sticky-menu-func{
        flex-direction: row-reverse;
    }
    .logo{
        width: 149px;
    }
    .scales{
        margin: 25px 25px 0px 28px;
    }
}