@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-Regular.eot');
}

.body{
    font: 400 15px "Cera Pro";
}

.link{
    text-decoration: none;
    color: #FFFFFF;
    font: 400 15px "Cera Pro";
}
.link:visited{
    color: #FFFFFF;
}

.email-text{
    color: #FFFFFF;
}
.phone{
    font: 500 20px "Cera Pro";
}
.title{
    font: 400 18px "Cera Pro";
}
.nav_item_content{
    font: 400 16px "Cera Pro";
}