@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-Regular.eot');
}

.body{
    font: 400 15px "Cera Pro";
}

.link{
    text-decoration: none;
    color: #FFFFFF;
    font: 400 15px "Cera Pro";
}
.link:visited{
    color: #FFFFFF;
}

.email-text{
    color: #FFFFFF;
}
.phone{
    font: 500 20px "Cera Pro";
}
.title{
    font: 400 18px "Cera Pro";
}
.nav_item_content{
    font: 400 16px "Cera Pro";
}
.product_type{
    font: 500 20px "Cera Pro";
    color: #FFFFFF;
    z-index: 0;
}
.product_name{
    font: 500 35px "Cera Pro";
    color: #FFFFFF;
    z-index: 0;
}
.product_price{
    font: 500 34px "Cera Pro";
    color: #FFFFFF;
    z-index: 0;
}
.best_offer__span{
    font: 500 28px "Cera Pro";
    color: #333333;
}
.best_offer__button{
    font: 400 18px "Cera Pro";
}
.item_name{
    font: 500 16px "Cera Pro";
    color: #333333;  
}
.item_article{
    font: 400 14px "Cera Pro";
    color: #188145;
}
.avilability{
    font: 400 14px "Cera Pro";
    color: #188145;
}